$--main-bg-color: #f7f8fa;
$--color-light-lemon: #8bc34a;
$breadcrumb-divider: quote(">");
section {
  padding: 4.5rem 0;
  background: $--main-bg-color;
}
.carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

a#dropdownNavLink img {
  width: 2rem;
}
.d-flex.carts-body {
  gap: 1.2rem;
  span {
    color: black;
  }
  a {
    color: black;
  }

  button {
    background: white;
    border: none;
    padding-bottom: 5px;
    border-radius: 50%;
    box-shadow: 0 0 3px 1px #cacaca;
    svg {
      border: none;
      color: $--color-light-lemon;
      cursor: pointer;
    }
  }
}

@media (max-width: 992px) {
  .user_Link_btn {
    display: none;
  }
  .only_bigscreen {
    display: none !important;
    z-index: -99 !important;
  }
  .mobile_toggle_btn {
    display: block !important;
  }
  .d-flex.carts-body {
    gap: 0.8rem;
  }
}
.slider__on {
  transform: translateX(0%);
  transition: all 0.5s;
}
._slide_ {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  transition: all 0.5s;
}
.close-slider {
  border: none;
  background: none;
}
.close__Slider {
  position: relative;
}
.to_login {
  padding: 0.5rem 4rem;
}
._view_profile {
  text-decoration: none;
  color: $--color-light-lemon;
}
.__user_header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 1.2rem;
}
.mobile_slider_off {
  transform: translateX(-100%);
}
.mobile_toggle_btn {
  display: none;
  background: none;
  border: none;
}

.link-dark.text-decoration-none {
  img {
    width: 2rem;
  }
}

.head-carryer {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(255, 255, 255);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
.nav-bar-fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(255, 255, 255);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
.hero__banner {
  .carousel__body {
    position: relative;
  }
  .item {
    min-height: 100vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    .row {
      padding-top: 1rem;
      align-items: center;
    }
  }
  .owl-theme .owl-nav {
    display: none;
  }
  .owl-theme {
    .owl-dots {
      position: absolute;
      bottom: 10px;
      right: 0;
      left: 0;
      .owl-dot {
        span {
          width: 30px;
          height: 5px;
          background: #ebcefc;
        }
      }
      .active {
        span {
          background: #3c3f58;
        }
      }
    }
  }
}

$offset: 187;
$duration: 1.4s;

.spiner-wrapper {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;

  .flexbox > div {
    width: 300px;
    height: 300px;
    flex: 0 0 25%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    margin: 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nb-spinner {
    width: 75px;
    height: 75px;
    margin: 0;
    background: transparent;
    border-top: 4px solid rgb(236, 236, 236);
    border-right: 4px solid transparent;
    border-radius: 50%;
    animation: 1s spin linear infinite;
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.advertisment_sector {
  .container {
    .row > a {
      position: relative;
      padding: 0;
      img {
        opacity: 0.5;
      }
      .ads__btn {
        position: absolute;
        bottom: 10%;
        right: 15%;
        z-index: 10;
        padding: 0.3rem 1.5rem;
      }
    }
  }
}
.btn-outline-primary {
  &:hover {
    background-color: #8bc34a !important;
    border-color: #8bc34a !important;
  }
}
.contec__button {
  border: none;
  background: none;
  color: $--color-light-lemon !important;
}

.single__product__wrapper {
  width: 300px;
  overflow: hidden;
  .single__products__body {
    background: white;
    padding: 1rem 0.8rem;
    position: relative;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    overflow: hidden;
    .singe__products__image {
      overflow: hidden;
      img {
        transition: all 0.4s;
      }
    }
    &:hover {
      .single__carts__container {
        transform: translateX(0%);
      }
      img {
        transition: all 0.4s;
        transform: scale(1.2);
      }
    }

    .single__carts__container {
      position: absolute;
      top: 35px;
      right: 15px;
      transform: translateX(130%);
      .cart__wrapper {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        button {
          background: none;
          border: none;
        }
        svg {
          width: 20px;
          height: 20px;
          color: $--color-light-lemon;
        }
      }
    }
    .products__ref_ {
      display: flex;
      flex-direction: column;

      text-decoration: none;
      span {
        color: #2d3748;
        font-size: 0.933rem;
      }
      del {
        color: #a0aec0;
      }
      h6 {
        font-family: sans-serif !important;
        margin: 0;
        color: rgb(50, 62, 70);
        font-weight: 700;
      }
    }
  }
}
.chatk__out_sector {
  background: white;
  padding: 1.5rem 2rem 2rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 1rem;
  .total__cart__title {
    border-bottom: 1px solid #ddd;
    margin-bottom: 1rem;
  }
}

.product__sector {
  .container {
    .row {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 2rem;
    }
    form {
      display: flex;
    }
  }
}

input#searc__product__fild {
  padding: 0.25rem 0.7rem;
  border-right: none;
  border: 1px solid #ddd;
  outline: none;
}
button.btn_search_products {
  border: none;
  background: $--color-light-lemon;
  color: white;
  padding: 0.33rem 0.5rem;
  border-bottom-right-radius: 0.33rem;
  border-top-right-radius: 0.33rem;
}
.breadcrumb {
  a.nav-link {
    color: #6c7590;
  }
}

.wishandcartlist {
  background: white;
  .container {
    .row {
      display: grid !important;
      grid-template-columns: repeat(auto-fill, minmax(330px, 530px));
      gap: 4rem;
      justify-content: center;
      justify-items: center;
      .article-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        article {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-top: 1px solid $--color-light-lemon;
          padding: 1rem 1rem 0 0;
          text-align: center;
          .price_button__ {
            display: flex;
            gap: 1rem;
          }
          .cart_product_image {
            width: 8rem;
            img {
              border-radius: 0.5rem;
              border: 1px solid $--color-light-lemon;
            }
          }
          .increment_decrement_container {
            button {
              background: white;
              border: none;
              margin: 0 0.5rem;
              text-align: center;
              border-radius: 0.2rem;
            }
          }
          .price_button__ {
            display: flex;
            gap: 1rem;
          }
        }
        .outer.siunuwskw {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
        }
        .increment_decrement_container {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
        }
      }
    }
  }
}

.__cart__button button {
  border: none;
  background: none;
  color: $--color-light-lemon;
}

.empty_sfrgrwer {
  display: grid;
  place-items: center;
  height: 100vh;
}

.view__wishList {
  background: white;
  .article-wrapper {
    article {
      display: flex;
      align-items: center;
      justify-content: space-between;
      grid-gap: 2rem;
      gap: 2rem;
      flex-direction: row;
      flex-wrap: nowrap;
      max-width: 565px;
      margin: auto;
      .img_container {
        width: 9rem;
        img {
          border: 1px solid $--color-light-lemon;
          border-radius: 0.5rem;
        }
      }
      .info-container {
        display: flex;
        gap: 1rem;
        a {
          text-decoration: none;
          color: #2d3748;
          &:hover {
            text-decoration: underline;
            color: $--color-light-lemon;
          }
        }
      }
      .price__display {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
      }
    }
  }
}

.sector__watch__single {
  .single_view_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    .photos_container img {
      width: 90%;
      border-radius: 1rem;
    }
    .single_view_details {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1.5rem 3rem 1.5rem 1.5rem;
    }
    .single_products_brand a {
      text-decoration: none;
      color: $--color-light-lemon;
      &:hover {
        text-decoration: underline;
      }
    }
    .single_price del {
      color: #a7a7a7;
    }
    .single_button_container {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .cart_add_btn {
        background: $--color-light-lemon !important;

        color: white;
      }
      .__singleBts {
        background: none;
        border: none;
      }
      .single_qty {
        display: flex;
        justify-content: space-between;
        .__qty_button_container {
          display: flex;
          gap: 0.9rem;
        }
        button {
          background: white !important;
        }
      }
    }
  }
}

.single__view__description {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 65%));
  margin: 4rem 0;
}

.form-control:focus {
  box-shadow: none !important;
}

.show_phone_alart {
  border-color: red !important;
  color: red !important;
}

.checkout_sector {
  .container {
    .inner_lwjkog {
      display: flex;
      justify-content: center;
      gap: 2rem;
      flex-wrap: wrap;
      margin: 5rem 0 0 0 !important ;
      .suplayerlwhgw {
        width: 500px;
      }
      .product__item__ {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        border-bottom: 1px solid $--color-light-lemon;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
      }
      .chackout_butto_ button {
        margin-top: 1rem;
        width: 100%;
      }
      .img_container img {
        width: 5rem;
        border: 1px solid $--color-light-lemon;
        border-radius: 5px;
      }
      .inercontentjljl {
        width: 48%;
      }
      .inneroiklso {
        display: flex;
        justify-content: space-between;
      }
      span {
        font-size: 0.88rem;
      }
      .price__total__produtc_summery {
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        h5 {
          display: flex;
          justify-content: space-between;
          font-size: 1rem;
        }
      }
    }
  }
}

.sure_confirm_chakout {
  .confirm_the_order_button {
    margin: 2rem 0;
  }
  .order_to_home a {
    background: none;
    border: 2px solid #1ecd97;
    border-radius: 2rem;
    color: black;
    padding: 0.5rem 2.2rem;
    &:hover {
      background: #1ecd97;
      color: white;
    }
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    .sure__total h5 {
      border-top: 1px solid #d4d2d2;
      justify-content: space-between;
      display: flex;
      padding: 0.8rem 0;
    }

    span {
      text-transform: initial !important;
      svg {
        margin-right: 0.5rem;
      }
    }
  }
}

$height: 60px;
$width: 220px;

.order-success {
  .button__container {
    position: relative;
  }
  button {
    background-color: white;
    border: solid 2px #1ecd97;
    color: #1ecd97;

    padding: 0.5rem 1rem;

    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.4s ease;
    &:focus {
      outline: none;
    }
    &::-moz-focus-inner {
      border: none;
      outline: none;
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-radius: 50%;
      background-color: #1ecd97;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 16px;
      height: 8px;
      border-left: solid 5px white;
      border-bottom: solid 5px white;
      opacity: 0;
      transform: rotate(-45deg);
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  .do__circle {
    animation-delay: 500ms, 3000ms;
    animation-duration: 300ms, 800ms;
    animation-timing-function: ease-out, ease-in;
    animation-fill-mode: forwards, forwards;
    animation-name: circle, button_grow;
    &:before {
      animation-delay: 800ms;
      animation-duration: 2500ms;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
      animation-name: grow;
    }
    &:after {
      animation-delay: 4500ms;
      animation-duration: 400ms;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
      animation-name: check;
    }
  }

  .is__clicked {
    animation-delay: 0s, 600ms;
    animation-duration: 300ms, 100ms;
    animation-timing-function: ease-in-out, linear;
    animation-fill-mode: none, forwards;
    animation-name: bounce, disapear;
  }
}

@keyframes bounce {
  30% {
    font-size: 20px;
  }
}

@keyframes circle {
  100% {
    width: $height;
    border: solid 6px #ccc;
  }
}

@keyframes disapear {
  100% {
    opacity: 0;
  }
}

@keyframes grow {
  99.9% {
    width: $height;
    height: $height;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes button_grow {
  0% {
    border: solid 2px #1ecd97;
    background-color: #1ecd97;
    width: $height;
  }
  100% {
    border: solid 2px #1ecd97;
    background-color: #1ecd97;
    width: 150px;
  }
}

@keyframes check {
  25% {
    opacity: 1;
  }
  60% {
    opacity: 1;
    transform: scale(1.3) rotate(-45deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(-45deg);
  }
}

.brands_kljfaow4t {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}
.brand_body {
  padding: 3rem 2rem;
  text-align: center;
  background: white;
  a {
    color: $--color-light-lemon;
    text-decoration: none;
    font-size: 1.3rem;
    &:hover {
      text-decoration: underline;
    }
  }
}

.search__products__value {
  position: absolute;
  z-index: 100;
  padding: 1rem 0rem 0 0;
  display: flex;
  flex-direction: column;
  background: white;
}
.search__products__value li {
  list-style: none;
  padding: 0.44rem 1rem 0.44rem 1.5rem;
}
.search__products__value li a {
  text-decoration: none;
  color: #2d3748;
}

.search__products__value li:hover {
  background: whitesmoke;
}

.__login_sector {
  display: grid;
  place-items: center;
  height: 100vh;
  .content_account {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
}
.iuetjkj4t {
  background: none;
  border: none;
}

.kalsjfojl {
  display: flex !important;
  gap: 3rem;
}

.body__content {
  display: flex;
}

.content_quistion {
  width: 10rem;
}

.title {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
}
.user__details__ {
  width: 75%;
}
.user__profile {
  background: white;
}
.body__infos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.body_title {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}

.hojoborol {
  display: grid;
  place-items: center;
  height: 100vh;
  .wrapper {
    svg {
      width: 3rem;
      height: 2rem;
      margin: auto;
      color: $--color-light-lemon;
    }
  }
}
.branding__head {
  background: $--main-bg-color;
  padding: 1rem 1.5rem 2rem;
}

.branding_mail span {
  font-size: 0.8rem;
  text-transform: initial !important;
}
.user__svg {
  text-align: center;
  svg {
    width: 2rem;
    height: 2rem;
    color: $--color-light-lemon;
    margin: 0.5rem 0 0.88rem;
  }
}

.name_and_mail {
  display: flex;
  align-items: center;
  gap: 1rem;
  svg {
    color: navy;
  }
}
.other_switcher {
  margin-top: 1rem;
  ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    li {
      list-style: none;
      padding: 0.5rem 0;
      background: $--main-bg-color;
      padding-left: 1rem;
      .log_out_btn {
        background: none;
        border: none;
      }
    }
    .log_out_list {
      button {
        color: red;
      }
      &:hover {
        background: red;
        button {
          color: white;
        }
      }
    }
  }
}

@import url("https://fonts.googleapis.com/css?family=Catamaran:400,800");
.error_container {
  padding: 6.5rem 0 0;
  height: 100vh;
  display: grid;
  place-items: center;
}
.error-container {
  text-align: center;
  font-size: 106px;
  font-family: "Catamaran", sans-serif;
  font-weight: 800;
  margin: 5rem 0 0;
}
.error-container > span {
  display: inline-block;
  position: relative;
}
.error-container > span.four {
  width: 136px;
  height: 43px;
  border-radius: 999px;
  background: linear-gradient(
      140deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.07) 43%,
      transparent 44%,
      transparent 100%
    ),
    linear-gradient(
      105deg,
      transparent 0%,
      transparent 40%,
      rgba(0, 0, 0, 0.06) 41%,
      rgba(0, 0, 0, 0.07) 76%,
      transparent 77%,
      transparent 100%
    ),
    linear-gradient(to right, #d89ca4, #e27b7e);
}
.error-container > span.four:before,
.error-container > span.four:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 999px;
}
.error-container > span.four:before {
  width: 43px;
  height: 156px;
  left: 60px;
  bottom: -43px;
  background: linear-gradient(
      128deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.07) 40%,
      transparent 41%,
      transparent 100%
    ),
    linear-gradient(
      116deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.07) 50%,
      transparent 51%,
      transparent 100%
    ),
    linear-gradient(to top, #99749d, #b895ab, #cc9aa6, #d7969e, #e0787f);
}
.error-container > span.four:after {
  width: 137px;
  height: 43px;
  transform: rotate(-49.5deg);
  left: -18px;
  bottom: 36px;
  background: linear-gradient(
    to right,
    #99749d,
    #b895ab,
    #cc9aa6,
    #d7969e,
    #e0787f
  );
}

.error-container > span.zero {
  vertical-align: text-top;
  width: 156px;
  height: 156px;
  border-radius: 999px;
  background: linear-gradient(
      -45deg,
      transparent 0%,
      rgba(0, 0, 0, 0.06) 50%,
      transparent 51%,
      transparent 100%
    ),
    linear-gradient(
      to top right,
      #99749d,
      #99749d,
      #b895ab,
      #cc9aa6,
      #d7969e,
      #ed8687,
      #ed8687
    );
  overflow: hidden;
  animation: bgshadow 5s infinite;
}
.error-container > span.zero:before {
  content: "";
  display: block;
  position: absolute;
  transform: rotate(45deg);
  width: 90px;
  height: 90px;
  background-color: transparent;
  left: 0px;
  bottom: 0px;
  background: linear-gradient(
      95deg,
      transparent 0%,
      transparent 8%,
      rgba(0, 0, 0, 0.07) 9%,
      transparent 50%,
      transparent 100%
    ),
    linear-gradient(
      85deg,
      transparent 0%,
      transparent 19%,
      rgba(0, 0, 0, 0.05) 20%,
      rgba(0, 0, 0, 0.07) 91%,
      transparent 92%,
      transparent 100%
    );
}
.error-container > span.zero:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 999px;
  width: 70px;
  height: 70px;
  left: 43px;
  bottom: 43px;
  background: #fdfaf5;
  box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.screen-reader-text {
  position: absolute;
  top: -9999em;
  left: -9999em;
}

@keyframes bgshadow {
  0% {
    box-shadow: inset -160px 160px 0px 5px rgba(0, 0, 0, 0.4);
  }
  45% {
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  }
  55% {
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: inset 160px -160px 0px 5px rgba(0, 0, 0, 0.4);
  }
}

.zoom-area {
  max-width: 490px;
  margin: 30px auto 30px;
  font-size: 19px;
  text-align: center;
}
.link-container {
  text-align: center;
  a {
    text-transform: uppercase;
    font-size: 13px;
    background-color: #de7e85;
    padding: 10px 15px;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    line-height: 1.5;
    text-decoration: none;
    margin-top: 50px;
    letter-spacing: 1px;
  }
}

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
